.SatSection{
    margin: 5% 10%;
}
.texto24{
    font-size: 24px;
    text-align: start;
    max-width: 70%; 
}
.grilla{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
}
.left-column{
    flex: 1;
    text-align: center;
    padding: 3%;
    max-width: 60%;
    min-width: 350px;
}
.rigth-column{
    flex: 1;
    width: 75% ;
    height: 100%;
    min-width: 400px;
    padding: 3%;
}
.SatUl{
    list-style-type:none;
    text-align: start; 
}
.SatLiLeft{
    border-top: 1px ;
    border-bottom: 1px;
    border-left: 0px;
    border-right: 0px;
    padding: 15px;
    border-color: white;
    border-style:ridge;
    font-size: 24px;
    text-align: start;
    max-width: 70%;
}
.container3D{
    height: 420px;
    width: 100% ;
    justify-content: center;
    align-items: flex-start;
    display:flex
}