@import './fonts.css';

/* The switch - the box around the slider */
.switch {
  display: block;
  --width-of-switch: 5em;
  --height-of-switch: 2em;
  --slider-offset: 0.2em;
  position: relative;
  width: var(--width-of-switch);
  height: var(--height-of-switch);
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f4f4f5;
  transition: .5s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: var(--size-of-icon, 1.7em);
  width: var(--size-of-icon, 1.7em);
  border-radius: 20px;
  left: var(--slider-offset, 0.3em);
  top: 50%;
  transform: translateY(-50%);
  background: linear-gradient(135deg, #1DB7E6 18.75%, var(--var--secondary-color) 89.44%);
  transition: .5s;
}

input:checked + .slider {
  background-color: white;
}

input:checked + .slider:before {
  left: calc(100% - (var(--size-of-icon, 1.7em) + var(--slider-offset, 0.3em)));
  background:linear-gradient(135deg, #1DB7E6 18.75%, var(--var--secondary-color) 89.44%);;
}

.toggle-text::after {
  color: #1E78BD;
  right: .5em;
  bottom: .2em;
  content: 'ENG';
  position: absolute;
  transition: .4s;
  cursor: pointer;
  font-weight: bolder!important;
  
}

.toggle-text::before {
  color: #1E78BD;
  content: 'ESP';
  position: absolute;
  opacity: 1;
  z-index: 5;
  left: .5em;
  bottom: .2em;
  transition: .4s;
  font-weight: bolder!important;
  cursor: pointer;
}

input:checked + .slider ~ .toggle-text::after {
  color: transparent;
}


input:not(:checked) + .slider ~ .toggle-text::before {
  color: transparent;
}