.year {
   font-size: 70px;
   font-weight: bold;
   color: transparent!important;
   -webkit-text-stroke-width: 1px!important;
  -webkit-text-stroke-color: white!important;
   text-align: center;
   display:inline-block;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif!important;
}
.yearsWrap {
justify-content: space-around;
align-items: center;
display: flex;
max-width:70%;
margin:auto;
margin-top:4em;
margin-bottom:20em;
}
.roadmapDiv{
   margin-top: 10em;
}
@media all and (max-width:1300px){
   .yearsWrap{
      flex-direction: column;
      align-items: center;
   }
}